body {
	background: midnightblue;
}

#gameCanvas 
{
	display: block;
	width: 640px;
	height: 480px;
	margin: auto;
	background: green;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}